h1 {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 2.5em;
}

h2 {
    font-style: italic;
    font-size: 1.875em;
    
}

h3 {
    font-style: oblique;
    font-size: 2.875em;
}

h4 {
    
}
